{% if post %}
{% elsif page %}
  {% assign post = page %}
{% endif %}
<section id="{{ post.id | sha1:8 }}" class="active">
  {% include post_header.html %}

  {% if post.episode-cover %}
    <img src="{{ post.episode-cover }}" alt="{{ post.title }} logo">
  {% endif %}

  {{ post.content }}

  <h2>General Links</h2>
  <p><a href="http://www.jammingongames.com/">Jamming on Games Website</a></p>

<p>The host is Randy Lubin and you can find him online:</p>
<ul>
  <li>Personal website: <a href="https://randylubin.com/">https://randylubin.com/</a></li>
  <li>Twitter: <a href="https://twitter.com/randylubin">https://twitter.com/randylubin</a></li>
  <li>Game studio: <a href="https://diegeticgames.com/">https://diegeticgames.com/</a></li>
</ul>

<p>The theme song is from Spellbound by Broke for Free: <a href="https://brokeforfree.bandcamp.com/track/spellbound">https://brokeforfree.bandcamp.com/track/spellbound</a></p>

    {% if post.audio %}
      {% for file in post.audio %}
      <a class="btn btn-primary" href="{{ site | download_url_with_fallback }}/{{ file.last }}">Download .{{ file.first }} ({{ file.last | file_size:'./' | string_of_size }})</a>
      {% endfor %}
    {% endif %}
  <hr>
  {{ site | flattr_button:post }}
  <!--<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{post.url }}" data-text="{{ post.title }}">Tweet</a>-->
  {% unless page.url == '/index.html' %}{% include disqus_thread.html %}{% endunless %}
  {% unless page.url == '/index.html' %}{% include isso_thread.html %}{% endunless %}
  <hr>
</section>
