<!--<div class="page-header">
  <h3>
    {{ site.title }}
  </h3>
</div>
-->
<p class="text-center">
  <img width="200px" src="{{ site.url }}/img/logo-360x360.png" alt="{{ site.title }} logo">
</p>

{% if site.description %}<p>{{ site.description }}</p>{% endif %}

<hr/>

<h4>Feeds</h4>

<ul type="i">
  {% for feed in site['episode_feed_formats'] %}
    <li><a href="{{ site['url']}}/episodes.{{ feed }}.rss"><i class="fa fa-rss"></i> {{ feed }}-RSS-Feed</a></li>
  {% endfor %}
  {% for jsonfeed in site['json_feed_formats'] %}
    <li><a href="{{ site['url']}}/feed.{{ jsonfeed }}.json"><i class="fa fa-rss-square"></i> {{ jsonfeed }}-JSON-Feed</a></li>
  {% endfor %}
</ul>



<h4>Subscribe</h4>

<ul type="i">
  {% if site.itunes_url %}
    <li><a href="{{ site.itunes_url }}"></i>Apple iTunes</a></li>
  {% endif %}
    <li><a href="https://play.google.com/music/m/I7zcjc2ohfndjh3lnhcakcxgamq?t=Jamming_on_Games">Google Play</a></li>
    <li><a href="https://overcast.fm/p686389-ZmorXB">Overcast</a></li>
    <li><a href="http://www.stitcher.com/s?fid=152472&refid=stpr">Stitcher</a></li>
    <li><a href="http://pca.st/fj8S">Pocket Casts</a></li>
    <li><a href="https://tunein.com/radio/Jamming-on-Games-p1036921/">TuneIn</a></li>
</ul>


<h4>License</h4>

{% if site.license_url %}
  <a rel="license" href="{{ site.license_url }}">
    {% if site.license_image_url %}
      <img alt="Creative Commons License" style="border-width:0" src="{{ site.license_image_url }}" />
    {% else %}
      {{ site.license }}
    {% endif %}
  </a>
{% endif %}

<hr/>

{% if site.flattr_uid %}
  <span class="pull-left">{{ site | flattr_button }}</span>
{% endif %}

{% if site.twitter_nick %}
  <a href="https://twitter.com/{{ site.twitter_nick }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.twitter_nick }}</a>
{% endif %}
